<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-login' }) do |f| %>
  <h2 class="form-login-heading">Create an account</h2>

  <%= devise_error_messages! %>

  <div class="login-wrap">

    <%= f.text_field :name,
      autofocus: true,
      class: 'form-control',
      placeholder: "Name",
      required: 'required' %>
    <br>

    <%= f.email_field :email,
      autofocus: true,
      class: 'form-control',
      placeholder: "Email",
      required: 'required' %>
    <br>

    <%= f.password_field :password,
      class: 'form-control',
      placeholder: 'Password',
      autocomplete: "off",
      required: 'required' %>
    <br>

    <%= f.password_field :password_confirmation,
      class: 'form-control',
      placeholder: 'Confirm Password',
      autocomplete: "off",
      required: 'required' %>
    <br>

    <button class="btn btn-theme btn-block" type="submit" data-disable-with="<i class='fa fa-circle-o-notch fa-spin'></i> Signing up...">
      <i class="fa fa-lock"></i> Register
    </button>

    <hr>

    <div class="registration">
      Already have an account?<br/>
      <%= link_to "Sign in", new_session_path(resource_name) %><br />
    </div>

  </div>

<% end %>
