<div class="comment <%= @unread_ids.include?(comment.id) ? 'unread' : '' rescue "" %>">
  <div class="row">
    <div class="col-md-1 col-xs-3">
      <%= gravatar_tag comment.author.email, size: 59, html: {  class: 'img-circle' } %>

    </div>
    <div class="col-md-11 col-xs-9">
      <p>
        <strong><%= comment.author.email %></strong>
        <span class='comment-date'>
          <%= timeago_tag comment.created_at, :nojs => false, :limit => 10.days.ago %>
        </span>

        <% if comment.author == current_user %>
          <%= link_to [comment.stack.project, comment.stack, comment], method: :delete, class: 'delete-comment', style: 'float: right', remote: true, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-remove'></i>
          <% end %>
        <% end %>
      </p>
      <%= simple_format(comment.body) %>
    </div>

  </div>
</div>
