<div class="comment <%= @unread_ids.include?(comment.id) ? 'unread' : '' rescue "" %>">
  <div class="row">
    <div class="col-md-1 col-xs-3">
      <%= gravatar_tag comment.author.email, size: 59, html: {  class: 'img-circle' } %>

    </div>
    <div class="col-md-11 col-xs-9">
      <p>
        <strong><%= comment.author.email %></strong>
        <span class='comment-date'>
          <%= timeago_tag comment.created_at, :nojs => false, :limit => 10.days.ago %>
        </span>

        <% if comment.author == current_user %>
          <%= link_to [comment.stack.project, comment.stack, comment], method: :delete, class: 'delete-comment', style: 'color: #D9534F; float: right', remote: true, data: { confirm: 'Are you sure?' } do %>
            <i class='fa fa-remove'></i>
          <% end %>
        <% end %>
      </p>
      <%= simple_format(comment.body) %>

      <% if comment.attached_files.any? %>
        <div class='col-md-12 col-xs-12 files'>

          <% comment.attached_files.each do |c| %>
            <div class='file'>
              <%= link_to c.file.url, target: '_blank' do %>
                <%= image_tag c.file.url(:thumb) %>
              <% end %>
              <%= c.file_file_name %>
              <%= link_to c.file.url, target: '_blank' do %>
                <i class="fa fa-download"></i> Download
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>

      <% if comment.author == current_user %>
        <%= link_to "#!", class: 'upload-button', data: { toggle: 'modal',  target:   "#comment_#{comment.id}_modal"} do %>
          <i class="fa fa-upload"></i> Upload files
        <% end %>
      <% end %>


    </div>

  </div>
</div>

<div class="modal fade" id="comment_<%= comment.id %>_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for([comment.stack.project, comment.stack, comment], multipart: true) do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Select files to upload</h4>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.label :attached_files %>
            <%= f.file_field :attached_files, multiple: true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Upload", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
