<li class='task <%= task.completed? ? "task-done" : "" %>' data-task-id='<%= task.id %>'>

  <div class="task-checkbox">
    <%= link_to toggle_task_path(task),
      remote: true,
      method: :put,
      class: 'complete-task' do %>
      <i class="fa <%= task.completed? ? "fa-check-square" : "fa-square-o" %>"> </i>
    <% end %>
  </div>

  <div class="task-title">
    <span class="task-title-sp">
      <%= best_in_place task, :name, as: :input, inner_class: "form-control form-control-smaller", activator: "#edit-task-#{task.id}" %>
    </span>
    <!-- <span class="badge bg&#45;warning">Important</span> -->
    <div class="pull-right">

      <%= link_to "#!", id: "edit-task-#{task.id}", class: 'edit-task btn btn-primary btn-xs', title: "Edit" do %>
        <i class="fa fa-pencil"></i>
      <% end %>

      <%= link_to task, remote: true, method: :delete, class: 'delete-task btn btn-danger btn-xs', title: "Delete" do %>
        <i class="fa fa-trash-o "></i>
      <% end %>

    </div>

  </div>

</li>
