<% content_for :title do %>
  <%= link_to @project, @project %>
<% end %>

<div class="row mt">
  <div class="col-lg-12">

    <% if @stacks.any?  %>
      <% @stacks.in_groups_of(4).each do |stacks| %>
        <%= render partial: 'stacks/stack_row', locals: { stacks: stacks } %>
      <% end %>
    <% else %>
      <div class="alert alert-info">
        <b>You have no active stacks!</b> Create one from the button below.
      </div>
    <% end %>

  </div>

  <div class='col-lg-12'>
    <%= link_to new_project_stack_path(@project), class: 'btn btn-lg btn-theme03' do %>
      Create stack
    <% end %>

    <% if @archived_stacks.any? %>
      <%= link_to project_path(@project, show: 'archived'), class: 'btn btn-lg btn-text' do %>
        Show archived (<%= @archived_stacks.count %>)
      <% end %>
    <% end %>
  </div>
</div>
