<% content_for :title do %>
  <%= link_to @project, @project %>
  <i class='fa fa-angle-right'></i>
  <%= link_to @stack, project_stack_path(@stack.project, @stack) %>
  <i class='fa fa-angle-right'></i>
  Settings
<% end %>

<% content_for :submenu do %>
  <ul class="nav nav-pills pull-right">
    <li role="presentation">
      <%= link_to project_stack_path(@project, @stack, anchor: "discussion") do %>
        Discussion
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to project_stack_path(@project, @stack, anchor: "notes") do %>
        Files
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to members_project_stack_path(@project, @stack) do %>
        People
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to edit_project_stack_path(@project, @stack) do %>
        Settings
      <% end %>
    </li>
  </ul>
<% end %>

<%= render 'form' %>
