<% content_for :title do %>
  <%= link_to @project, @project %>
  <i class='fa fa-angle-right'></i>
  <%= link_to @stack, project_stack_path(@stack.project, @stack) %>
<% end %>

<% content_for :submenu do %>
  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="#discussion">Discussion</a></li>
    <li role="presentation"><a href="#notes">Notes</a></li>
    <li role="presentation">
      <%= link_to members_project_stack_path(@project, @stack) do %>
        People
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to edit_project_stack_path(@project, @stack) do %>
        Settings
      <% end %>
    </li>
  </ul>
<% end %>

<div class="row mt">
  <div class="col-md-12">
    <section class="task-panel tasks-widget">
      <div class="panel-heading">
        <div class="pull-left"><h4><i class="fa fa-tasks"></i> Tasks </h4></div>
        <br>
      </div>
      <div class="panel-body">
        <div class="task-content">

          <%= form_for([@project, @stack, @stack.task_list, @stack.task_list.tasks.build], remote: true) do |f| %>
            <%= f.text_field :name,
              class: 'form-control',
              placeholder: 'Enter new task' %>
          <% end %>

          <br />

          <ul id='task_list' class="task-list">
            <% @stack.task_list.tasks.select(&:not_completed?).sort_by(&:created_at).each do |task| %>
              <%= render partial: 'tasks/task', locals: {task: task} %>
            <% end %>

          </ul>

          <ul id='task_list_completed' class="task-list task-list-completed">
            <% @stack.task_list.tasks.select(&:completed?).sort_by(&:completed_at).reverse.each do |task| %>
              <%= render partial: 'tasks/task', locals: {task: task} %>
            <% end %>

            <br />
          </ul>

          <% if @stack.task_list.tasks.select(&:completed?).any? %>
            <%= link_to "#!", id: 'show-completed-tasks', class: 'btn btn-info btn-sm btn-block' do %>
              <span class='action-show'>
                Show completed (<%= @stack.task_list.tasks.select(&:completed?).count %>)
              </span>
              <span class="action-hide" style='display: none'>
                Hide completed
              </span>
            <% end %>
          <% end %>

          <% if @stack.task_list.tasks.none? %>
            <div id='no-tasks-msg' class="alert alert-info">
              <b>No tasks yet. </b> Create the first one from the form above!
            </div>
          <% end %>

        </div>

        <div class="add-task-row hide">
          <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
          <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
        </div>
      </div>
    </section>
  </div><!-- /col-md-12-->

  <div class="col-md-12">
    <a name="discussion"></a> </a>
    <section class="task-panel tasks-widget">
      <div class="panel-heading">
        <div class="pull-left"><h4><i class="fa fa-comments"></i>
            Discussion
          </h4></div>
        <br>
      </div>

      <div class="panel-body">
        <div class="task-content">
          <div id="comments">
          <% if @all_comments_count > 10 %>
            <div class='comments-count'>
              Showing <%= @comments.count %> of <%= @all_comments_count %>.
              <%= link_to project_stack_comments_path(@project, @stack) do %>
                View all
              <% end %>
            </div>
          <% end %>
            <% if @comments.none? %>
              <div id='no-comments-msg' class="alert alert-info">
                <b>No comments yet. </b> Create the first one from the form below.
              </div>
            <% else %>
              <% @comments.reverse.each do |comment| %>
                  <%= render partial: 'comments/comment', locals: { comment: comment } %>
              <% end %>
            <% end %>
          </div>

          <br />

          <%= form_for([@project, @stack, @stack.comments.build], remote: true) do |f| %>
            <%= f.text_area :body,
              class: 'form-control',
              placeholder: 'Enter comment' %>

            <br />
            <%= f.button "Post comment", class: "btn btn-success btn-sm", data: { disable_with: raw("<i class='fa fa-circle-o-notch fa-spin'></i> Posting...") }%>
          <% end %>

        </div>

      </div>
    </section>
  </div><!-- /col-md-12-->
</div><!-- /row -->
