<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stack.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @stack.project_id %>
</p>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
