<div class="row">

  <% projects.compact.each do |project| %>

    <div class="col-lg-3 col-md-3 col-sm-3 mb">
      <div class="white-panel pn">
        <div class="white-header">
          <%= link_to project do %>
            <h5>
              <% if project.starred_by?(current_user) %>
                <i class='fa fa-star starred'></i>
              <% end %>
              <%= project.name %>
              &nbsp;
              <i class="fa fa-angle-double-right"></i>
            </h5>
          <% end %>
        </div>
        <div class='white-summary'>
          <% project.users.uniq.take(10).each do |user| %>
            <%= gravatar_tag user.email, size: 39, html: {  class: 'img-circle', title: user } %>
            <% end %>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <p class="small mt">TASKS</p>
            <p><%= project.completed_tasks(current_user) %></p>
          </div>
          <div class="col-xs-4">
            <p class="small mt">COMMENTS</p>
            <p>
              <%= project.comments_count(current_user) %>
              <%= unread_count(project.unread_comments_count(current_user)) %>
            </p>
          </div>
          <div class="col-xs-4">
            <p class="small mt">FILES</p>
            <p><%= project.files_count(current_user) %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 white-progress">
            <div class="progress">
              <div class="progress-bar"  role="progressbar" aria-valuenow="<%= project.completed_percentage(current_user) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.completed_percentage(current_user) %>%">
                <span class="sr-only"><%= project.completed_percentage(current_user) %>% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /col-md-4 -->

  <% end %>

</div>
