<% content_for :title do %>
  Projects
<% end %>

<div class="row mt">
  <div class="col-lg-12">

    <% if @projects.any?  %>
      <% @projects.in_groups_of(4).each do |projects| %>

        <div class="row">

          <% projects.compact.each do |project| %>

            <div class="col-lg-3 col-md-3 col-sm-3 mb">
              <div class="white-panel pn">
                <div class="white-header">
                  <%= link_to project do %>
                    <h5>
                      <%= project.name %>
                      &nbsp;
                      <i class="fa fa-angle-double-right"></i>
                    </h5>
                  <% end %>
                </div>
                <div class='white-summary'>
                  <% project.users.take(10).each do |user| %>
                    <%= gravatar_tag user.email, size: 39, html: {  class: 'img-circle', title: user.email } %>
                    <% end %>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p class="small mt">TASKS</p>
                    <p><%= project.completed_tasks(current_user) %></p>
                  </div>
                  <div class="col-xs-5">
                    <p class="small mt">COMMENTS</p>
                    <p>
                      <%= project.comments_count(current_user) %>
                      <%= unread_count(project.unread_comments_count(current_user)) %>
                    </p>
                  </div>
                  <div class="col-xs-3">
                    <p class="small mt">NOTES</p>
                    <p>0</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 white-progress">
                    <div class="progress">
                      <div class="progress-bar"  role="progressbar" aria-valuenow="<%= project.completed_percentage(current_user) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.completed_percentage(current_user) %>%">
                        <span class="sr-only"><%= project.completed_percentage(current_user) %>% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /col-md-4 -->

          <% end %>

        </div>

      <% end %>
    <% else %>
      <div class="alert alert-info">
        <b>You have no Projects!</b> Create one from the button below to start.
      </div>
    <% end %>

  </div>

  <div class='col-lg-12'>
    <%= link_to new_project_path, class: 'btn btn-lg btn-theme03' do %>
      Create project
    <% end %>
  </div>
</div>
