<% content_for :title do %>
  <%= @organization.name %>
<% end %>

<% @organization.users.in_groups_of(3).each do |group| %>

  <div class="row">

    <% group.compact.each do |user|  %>
      <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <div class="content-panel pn">
          <div id="profile-02">
            <div class="user">
              <%# <%= image_tag 'friends/fr-06.jpg', class: 'img-circle', width: 80 %>
              <%= gravatar_tag user.email, size: 80, html: {  class: 'img-circle'} %>
              <h4><%= user.email %></h4>
            </div>
          </div>
          <div class="pr2-social centered">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>

            <% if admin_for?(@organization) %>
              <%= link_to edit_membership_path(user.membership(@organization)) do %>
                <i class="fa fa-wrench"></i>options
              <% end %>
            <% end %>

          </div>
        </div><! --/panel -->
      </div><!--/ col-md-4 -->
    <% end %>

  </div>

<% end %>

<% if admin_for?(@organization) %>
  <div class='row'>
    <div class='col-lg-12'>
      <%= link_to new_members_organization_path(@organization), class: 'btn btn-lg btn-theme03' do %>
        Add users
      <% end %>
    </div>
  </div>
<% end %>
